* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --container-width: 1366px;
  --primary-colour: #2492eb;
  --feature-colour: #19F6E4;
  --white: #f2f2f2;
  --black: #262626;
}

body {
    background-color: var(--white);
    font-family: sans-serif;
    color: var(--black);
    font-size: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top: 50px;
}

.content {
  margin: 50px;
  width: 1024px;
}

header {
    background-color: #181d27;
    padding: 1em 0 2em 0;
    width: 100vw;
    margin: auto;
    position: fixed;
    top: 0;
}

footer {
    position: relative;
    background: #181d27;
    padding: 5em 0 3em 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

a {
  text-decoration: none;
}

h1 {
    font-size: 3em;
    font-weight: 800;
}

h2 {
    font-weight: 700;
    font-size: 1.5em;
    margin: 25px 0;
    text-decoration: underline;
}

h3 {
  font-weight: 550;
}

ul {
  list-style-position: inside;
}

canvas {
  border: 1px solid black;
}

ul.main-menu {
  position: absolute;
  top: 20px;
  right: 130px;
}

ul.menu {
  list-style-type: none;
  padding: 0;
}
.menu li {
  display: inline-block;
}

.menu li a {
  text-decoration: none;
  color: var(--white);
  font-size: 1em;
  margin: 0 10px;
  padding: 0;    
}

.menu li a:hover{
  text-decoration: underline;
}

.banner {
  background: radial-gradient(ellipse at 50% 50%, #2c364a ,#161b23 70%);
  padding: 1em 0 3em 0;
  margin: 0;
  color: var(--white);
  width: 100%;
  text-align: center;
}

.banner > * {
  margin: 10px;
}

.banner ul {
  list-style-position: inside;
  text-align: left;
  margin: 15px auto;
  max-width: 320px;
  font-size: 0.8em;
  padding: 0;
}

.banner ul li {
  margin-left: 32%;
}

.btn {
  background: transparent;
  margin: 10px;
  max-width: 300px;
  border-radius: 50px;
  font-size: 1.2em;
  padding: 0.1rem 1.5rem;
  background-color: var(--primary-colour);
  color: var(--white);
  border-color: var(--feature-colour);
  cursor: pointer;
}

.sudoku-square {
  padding: 15px;
  border: 1px solid black;
  font-size: 1.5em;
  width: calc(900px/9);
  height: calc(900px/9);
  text-align: center;
}

.grid {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.grid-item {
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 4%;
  height: 100%;
}

.grid-item:hover {
  border-color: transparent;
  background-image: linear-gradient(var(--white), var(--white)), linear-gradient(to right, rgb(154, 130, 0) 20%, gold 60%, rgb(241, 214, 58) 80%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.grid-item h2 {
  color: black;
  margin: 0 auto;
}



.grid img {
  margin: 30px;
}

.sidenav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height:300px;
  width:70px;
  position: fixed;
  z-index:1;
  top:40%;
  right: 25px;
  background: radial-gradient(ellipse at 50% 50%, #2c364a ,#161b23 70%);
  overflow-x: hidden;
  border-radius: 50px;
  padding: 20px 5px;
}

.sidenav a {
  text-decoration: none;
  font-size:25px;
  color: #818181;
  display:block;
  padding: 10%;
}    

.center {
  text-align: center;
}



