{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div style="width: 960px; margin: auto;">
    <h1 style="text-align: center; margin-bottom: 50px;">CV</h1>
    
    <h2>About Me</h2>
    <p>
        My name is Che, I come from the tip of Africa, Cape Town. I enjoy riding mountain bikes and playing chess.
        In my spare time I host tech events at under privileged schools to raise awareness and introduce kids to the possibilities of coding.
        I started out as a photography tour guide and slowly taught myself to code. Today I am a freelance web developer and have been doing it for the past 3/4 years working with tech such as Apache, Django, React and PostgreSQL.
    </p><br>
    
    <h2>Work Experience</h2>
    <ul>
        <li>
            <h3>Web Developer</h3>
            <p>Building, deploying, maintaining websites<br>
                Managing clients hosting accounts<br>
                managing clients social media<br>
                Social Media Marketing<br>
                Search Engine Optimization<br>
                General Business management</p>
        </li>
        <li>
            <h3>Content Producer</h3>
            <p>Created courses on the following:</p>
                <ul>
                    <li>HTML & CSS</li>
                    <li>Flask</li>
                    <li>Building and deploying a website with user backend</li>
                </ul>
        </li>

        <li>
            <h3>Photographer</h3>
            <p>Freelance photographer working with many great clients including Lexus, Harley Davidson and MSN</p>
            <a href="https://www.chephoto.co.za" target="_blank">View my photography website here.</a>
            <ul>
                <li>Commercial</li>
                <li>Wildlife/Nature</li>
                <li>Events</li>
                <li>Portraiture</li>
            </ul>
            <p>Skills:</p>
            <ul>
                <li>Inventory management</li>
                <li>Photoshop/Lightroom/After Effects</li>
                <li>Canon Eco-system</li>
                <li>Business management</li>
            </ul>
        </li>
    </ul>

    <h2>Skills</h2>
    <ul>
        <li>Python/Javascript/C++</li>
        <li>HTML/CSS</li>
        <li>Django/Flask/FastAPI</li>
        <li>Flutter</li>
        <li>React</li>
        <li>AWS/GCP/Vultr cloud compute</li>
        <li>Wordpress CMS/PHP</li>
        <li>Photoshop/Lightroom/Premiere</li>
    </ul>

    <h2>Certifications</h2>
    <ul>
        <li>
            <h3>PCEP-30-02</h3>
            <p>Python Institute Certified Entry-Level Python Programmer</p>
            <a href="https://www.credly.com/badges/3d5408ec-f052-412f-8a0b-f7cf84e2513f" target="_blank">Verify Certification</a>
        </li>
    </ul>
</div>
{% endblock content %}